.container{
    margin-bottom: 100px;
    padding-bottom: 50px;
}
.navbar-brand{
    
    margin-right: auto;
}
.nav-link:hover{
    background-color: black;
    color: white !important;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: lightgray;
}


.buy-now-btn{
    color:white;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    padding:10px 20px;
}
.buy-now-btn:hover{
    background-color: orange;
}
.hightlight{
    color: orange;
    font-weight: 500;
   
}
.card-footer{
    background-color: white;
    border: none;
}
.card{
    box-shadow: 5px 15px 15px lightgray ;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
